<% if signed_in? %>
<div class="transparent-box text-center">
    <h3>My forms</h3>
    <div class="big-margin-top">
        <%= will_paginate @my_forms, :param_name => 'mf_page' %>
        <table class="table table-nonfluid center">
            <tbody>
                <% @my_forms.each do |form| %>
                <tr>
                    <td>
                        <%= form.title %>
                    </td>
                    <td>
                      <%= link_to "Filled #{form.fillings.size} time(s)", stats_path(form) %>
                    </td>
                    <td>
                        <%= link_to raw("<span class=\"glyphicon glyphicon-pencil\"></span> Fill"), form %>
                    </td>
                    <td>
                        <%= link_to raw("<span class=\"glyphicon glyphicon-edit\"></span> Edit"), edit_form_path(form) %>
                    </td>
                    <td>
                        <%= link_to raw("<span class=\"glyphicon glyphicon-remove\"></span> Remove"), form, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= will_paginate @my_forms, :param_name => 'mf_page' %>
    </div>
</div>
<% else %>
<div class="text-center jumbotron">
    <h1>Medicins du monde Forms</h1>
    <h2>Sign up in order to create forms or fill in one of the available ones.</h2>
    <%= link_to "Sign Up", new_user_registration_path,
    class: "btn btn-large btn-primary" %>
    <%= link_to "View forms", forms_path,
    class: "btn btn-large btn-primary" %>
</div>
<% end %>
