<div class="nested-fields transparent-box">

<h3>Εξέταση <%= count %></h3>
  <h4>Ημερομηνία</h4>
<% if disabled %>
      <%= e.text_field :date, :value => date, :class => 'big datepicker', 'data-provider' => 'datepicker', 'autoclose' => 'true', 'disabled' => 'true' %>
  <% else %>
      <%= e.text_field :date, :value => date, :class => 'big datepicker', 'data-provider' => 'datepicker', 'autoclose' => 'true' %>
  <% end %>


  <span class="glyphicon glyphicon-calendar"></span>
<h4>Παρατηρήσεις</h4>
<% if disabled %>
    <%= e.text_area :content, :class => 'form-control', :rows => '3', 'disabled' => 'true' %>
<% else %>
      <%= e.text_area :content, :class => 'form-control', :rows => '3' %>
<% end %>


</div>

<script type="text/javascript">
    $('.datepicker').datepicker({
        autoclose: true,
        format: 'dd/mm/yyyy',
        todayHighlight: true
    });
</script>

