<div class="container col-xs-10 center text-center">
    <h2><%= @filling.form.title %></h2>
    <%= form_for :filling do |f| %>
	<%= f.hidden_field :form_id, :value => params[:id] %>
    <% @filling.form.questions.each do |question| %>
    <div class="nested-fields transparent-box">
        <% if question.category == "text" %>
        <h4><%=question.description %></h4>
        <%= render :partial => "/fillings/filled_text_answer_fields", :locals => {:question_id => question.id, :content => @filling.answers.where(:question_id => question.id.to_s).first.content} %>
        <% elsif question.category == "multiple" %>
        <h4><%=question.description %></h4>
        <table class="table table-nonfluid">
            <% question.choices.each do |choice| %>
            <%= render :partial => "/fillings/filled_multiple_answer_fields", :locals => {:question_id => question.id, :content => choice.content, :choice_id => choice.id, :checked => @filling.answers.where(:question_id => question.id.to_s).first.picks.where(:choice_id => choice.id).empty?} %>
            <% end %>
        </table>
        <% end %>
    </div>
    <% end %>
    <% end %>
</div>
<!-- /container -->
