<div class="nested-fields transparent-box">
  <h4>Checkbox question</h4>
  <div class="field">
    <%= f.hidden_field :category, :value => :checkbox %>
    <table class="table">
      <tr>
        <td style="width:15%">
          <%= f.label :description %>
        </td>
        <td>
          <%= f.text_field :description, :class => 'big' %>
        </td>
        <td style="width:7%">
          <%= link_to_remove_association raw("<span class=\"glyphicon glyphicon-remove\"></span>"), f %>
        </td>
      </tr>
    </table>
  </div>
  <div id="choices" class="container col-xs-10">
    <div class="links">
      <h4>Choices <%= link_to_add_association 'Add a choice', f, :choices, :class => "btn btn-default", :role => "button", data: {:'association-insertion-traversal' => 'closest', :'association-insertion-node' => '.links', :'association-insertion-method' => :append} %>
      </h4>
      <%= f.fields_for :choices, f.object.choices do |choice| %>
          <%= render 'choice_fields', :f => choice %>
      <% end %>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>
