<%= form_for @form do |f| %>
  <div class="field">
  	<table class="table">
  		<tr>
  			<td style="width:15%"><%= f.label :title %></td>
			<td><%= f.text_field :title, :class => 'big' %></td>
  		</tr>
	</table>
  </div>
  
  <div id="questions">
    <div class="links">
    	<h3>Questions
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Add a question <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><%= link_to_add_association 'Text question', f, :questions, { :partial => 'text_question_fields', data: { :'association-insertion-traversal' => 'closest', :'association-insertion-node' => '.links', :'association-insertion-method' => :append } } %></li>
                <li><%= link_to_add_association 'Multiple choice', f, :questions, { :partial => 'multiple_question_fields', data: { :'association-insertion-traversal' => 'closest', :'association-insertion-node' => '.links', :'association-insertion-method' => :append } } %></li>
                <li class="divider"></li>
            </ul>
        </div></h3>
    <%= f.fields_for :questions do |question| %>
	  <% if question.object.category == "text" %>
        <%= render 'text_question_fields', :f => question %>
	  <% elsif question.object.category == "multiple" %>
	    <%= render 'multiple_question_fields', :f => question %>
      <% end %>
    <% end %>
    </div>

  </div>
  <%= f.submit "Edit", :class => "btn btn-large btn-primary margin-top" %>
<% end %>

