<% if current_user %>
<div class="transparent-box text-center">
    <h3>My forms</h3>
    <div class="big-margin-top">
        <%= will_paginate @my_forms, :param_name => 'mf_page' %>
        <table class="table table-nonfluid center">
            <tbody>
                <% @my_forms.each do |form| %>
                <tr>
                    <td>
                        <%= form.title %>
                    </td>
                    <td>
                      <%= link_to "Filled #{form.fillings.size} time(s)", fillings_index_path(form) %>
                    </td>
                    <td>
                      <%= link_to "Stats", stats_path(form) %>
                    </td>
                    <td>
                        <%= link_to raw("<span class=\"glyphicon glyphicon-pencil\"></span> Fill"), form %>
                    </td>
                    <td>
                        <%= link_to raw("<span class=\"glyphicon glyphicon-edit\"></span> Edit"), edit_form_path(form) %>
                    </td>
                    <td>
                        <%= link_to raw("<span class=\"glyphicon glyphicon-remove\"></span> Remove"), form, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= will_paginate @my_forms, :param_name => 'mf_page' %>
    </div>
</div>
<% end %>

<div class="transparent-box text-center">
    <h3>All forms</h3>
    <div class="big-margin-top">
        <%= will_paginate @forms, :param_name => 'f_page' %>
        <table class="table table-nonfluid center">
            <tbody>
                <% @forms.each do |form| %>
                <tr>
                    <td>
                        <%= form.title %>
                    </td>
                    <td>
                        <%= link_to "Filled #{form.fillings.size} time(s)", fillings_index_path(form) %>
                    </td>
                    <td>
                      <%= link_to "Charts", stats_path(form) %>
                    </td>
                    <td>
                        <%= link_to raw("<span class=\"glyphicon glyphicon-pencil\"></span> Fill"), form %>
                    </td>
		    <% if current_user %>
                    <td>
                        <%= link_to raw("<span class=\"glyphicon glyphicon-edit\"></span> Edit"), edit_form_path(form) %>
                    </td>
                    <td>
                        <%= link_to raw("<span class=\"glyphicon glyphicon-remove\"></span> Remove"), form, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                    <% end %>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= will_paginate @forms, :param_name => 'f_page' %>
    </div>
</div>
