<div class="container col-xs-7 center text-center">
  <h2><%= link_to @filling.form.title, fillings_index_path %>

  </h2>
  <%= form_for @filling, :url => {:controller => 'forms', :action => 'fill'} do |f| %>
      <%= f.hidden_field :form_id, :value => params[:id] %>
      <% if @filling.form.serial_enabled %>
      <div class="transparent-box">
        <h4>Αύξων Αριθμός Ασθενούς</h4>
        <%= f.number_field :serial, :class => 'big' %>
      </div>
      <% end %>
      <% if @filling.form.area_enabled %>
          <div class="transparent-box">
            <h4>Περιοχή</h4>
            <%= f.autocomplete_field :area, autocomplete_filling_area_forms_path, :class => 'big' %>
          </div>
      <% end %>
      <% @filling.form.questions.reverse.each do |question| %>
          <div class="nested-fields transparent-box">
            <h4><%= question.description %></h4>
            <% if question.category == "text" %>
                <%= render :partial => "/fillings/text_answer_fields", :locals => {:question_id => question.id} %>
            <% elsif question.category == "number" %>
                <%= render :partial => "/fillings/number_answer_fields", :locals => {:question_id => question.id} %>
            <% elsif question.category == "date" %>
                <h6>(ΗΗ/ΜΜ/ΕΕΕΕ)</h6>
                <%= render :partial => "/fillings/date_answer_fields", :locals => {:question_id => question.id} %>
            <% elsif question.category == "multiple" %>
                <table class="table table-nonfluid text-left">
                  <% question.choices.each do |choice| %>
                      <%= render :partial => "/fillings/multiple_answer_fields", :locals => {:question_id => question.id, :content => choice.content, :choice_id => choice.id} %>
                  <% end %>
                </table>
            <% elsif question.category == "checkbox" %>
                <table class="table table-nonfluid text-left">
                  <% question.choices.each do |choice| %>
                      <%= render :partial => "/fillings/checkbox_answer_fields", :locals => {:question_id => question.id, :content => choice.content, :choice_id => choice.id} %>
                  <% end %>
                </table>
            <% elsif question.category == 'denture' %>
                <%= render :partial => "/fillings/denture_answers_fields", :locals => {:question => question} %>
            <% elsif question.category == "dropdown" %>
                <select class="form-control" name="<%= question.id %>">
                  <% question.choices.each do |choice| %>
                      <%= render :partial => "/fillings/dropdown_answer_fields", :locals => {:question_id => question.id, :content => choice.content, :choice_id => choice.id} %>
                  <% end %>
                </select>

            <% end %>
          </div>
      <% end %>
      <% @count = 1 %>
      <%= f.fields_for :examinations, f.object.examinations do |e| %>
          <%= render :partial => '/fillings/examination', :locals => {:e => e, :disabled => FALSE, :count => @count, :date => e.object.date.blank? ? '' : e.object.date.strftime('%d/%m/%Y')} %>
          <% @count += 1 %>
      <% end %>
      <%= f.submit "Submit", :class => "btn btn-large btn-primary margin-top" %>
  <% end %>
</div>
<!-- /container -->
